#price {
  h1 {
    font-family: "Slackey";
    color: #000958;
    font-size: 48px;
    line-height: 27px;
    letter-spacing: 5px;
  }
  p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #5e6085;
    letter-spacing: 2px;
  }
}

section {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #5e6085;
  letter-spacing: 2px;
  .card-header {
    background: #d18700ad;
    color: white;
  }
  li {
    letter-spacing: normal;
    margin-bottom: 5px;
    line-height: 24px;
  }
  p.small {
    line-height: 20px;
    letter-spacing: normal;
  }
  button {
    background: rgba(209, 135, 0, 0.6784313725) !important;
    color: white !important;
    border: none !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px !important;
  }
  button:hover {
    scale: 1.05;
  }
}

@media (max-width: 992px) {
  #pricing {
    .card {
      height: auto !important;
    }
    h1 {
      font-size: 26px !important;
    }
    h3 {
      font-size: 20px !important;
    }
    section {
      li {
        text-align: left;
      }
    }
  }
}
